*.o
*.lo
*.la

tests/check-arakoon
tests/check-memory
tests/test-arakoon-client

Makefile
Makefile.in
aclocal.m4
arakoon-1.0.pc
autom4te.cache/
autoscan.log
compile
config.*
configure
configure.scan
*.tar.gz
depcomp
install-sh
libtool
ltmain.sh
missing
.deps/
.libs/
stamp-h1
