*.o
*.lo
*.la
tags

tests/check-arakoon
tests/check-memory
tests/test-arakoon-client
tests/test-nursery-client

tests/arakoon.native
tests/arakoon

Makefile
Makefile.in
aclocal.m4
arakoon-1.0.pc
autom4te.cache/
autoscan.log
compile
config.*
configure
configure.scan
*.tar.gz
depcomp
install-sh
libtool
ltmain.sh
missing
.deps/
.libs/
stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

