*.o
*.lo
*.la

tests/check_arakoon
tests/check_memory
tests/test_arakoon_client

Makefile
Makefile.in
aclocal.m4
arakoon-1.0.pc
autom4te.cache/
autoscan.log
compile
config.*
configure
configure.scan
*.tar.gz
depcomp
install-sh
libtool
ltmain.sh
missing
.deps/
.libs/
stamp-h1
